* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 23px;
}

#info-bar {
  display: flex;
  /*justify-content: space-between;*/
}

#level {
  flex: 1;
}

#level span {
  display: block;
}

#score {
  text-align: center;
  flex: 2;
}

#score img {
  width: 90px;
  height: auto;
}

#score img.active {
  border: 1px solid black;
}

#menu {
  flex: 1;
  text-align: right;
}

h2 {
  text-align: center;
  font-size: 32px;
}

#options {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#options li {
  list-style: none;
  /*height: 10px;*/
  padding: 20px;
  border: 1px solid black;
  /*display: inline-block;*/
  background-color: white;
  margin-right: 8px;
}

#options li:hover {
  color: lightblue;
}

footer {
  text-align: center;
  margin-top: 85px;
  /*display: flex;*/
  /*align-items: flex-end;*/
  /*justify-content: center;*/
  /*I'm not sure about the height*/
  /*height: 25vh;*/
}

footer p {
  height: 40px;
  padding: 10px 0;
  display: block;
  /*background-color: yellow;*/
}
