body {
  background-color: lightblue;
}


#score img {
  width: 90px;
  height: auto;
}

h2 {
  text-align: center;
}

#options {
  text-align: center;
}

#options li {
  list-style: none;
  height: 10px;
  padding: 20px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  margin-right: 8px;
}

#options li:hover {
  color: lightblue;
}

footer {
  text-align: center;
}
