* {
  box-sizing: border-box;
}

body {
  /*background-color: #e4dbb2;*/
  /*background-color: #dbd4b4;*/
  background:#dbd4b4 url("../pictures/rightCurtain.png") no-repeat top right;
  background-size: contain;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  text-transform: uppercase;
}
#wrap {
  background: url("../pictures/leftCurtain.png") no-repeat top left;
  background-size: contain;
}

h1 {
  text-align: center;
  font-size: 23px;
  padding: 10px 0 !important;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  text-transform: none;
}

#info-bar {
  display: flex;
  /*justify-content: space-between;*/
}

#level {
  flex: 1;
  padding-left: 5%;
}

#level span {
  display: block;
}

#score {
  text-align: center;
  flex: 2;
}

#score img {
  width: 90px;
  height: auto;
  padding-top: 20px;
}

.active {
  /*border: 1px solid black;*/
  /*background-color: red;*/
  /*background: url("../pictures/leftCurtain.png") no-repeat top left;*/
}

#happy {
  padding-left: 20px;
}
#sad {
  padding-right: 20px;
}

#happy.active{
  background: url("../pictures/activeLeft.png") no-repeat top left;
  background-size: 40px;
  /*width: 92px;
  height: auto;*/
}
#sad.active{
  background: url("../pictures/activeRight.png") no-repeat top right;
  background-size: 40px;
}

#score p {
  padding: 5px 0 0 0;
  margin: 0;
}

#menu {
  flex: 1;
  text-align: right;
  padding-right: 5%;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-family: "Times New Roman";
  text-transform: none;
  min-height: 72px;
  margin-top: 52px;
}

#options {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 60px;
  margin: 0;
  padding: 0;
}

#options button {
  /*list-style: none;*/
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  margin-right: 8px;
  border-radius: 12px;
}

#options button:hover {
  color: lightblue;
}

#options button:disabled {
  color: silver;
}

footer {
  text-align: center;
  /*background: url("../pictures/stageLine.png") no-repeat bottom center;
  background-size: contain;*/
  /*margin-top: 85px;*/
  /*display: flex;*/
  /*align-items: flex-end;*/
  /*justify-content: center;*/
  /*I'm not sure about the height*/
  /*height: 25vh;*/
}

#hint-box {
  padding-top: 30px;
}

#hint-box.active {
  background: url("../pictures/activeAbove.png") no-repeat top center;
  background-size: 90px;
}

footer button {
  border: none;
  width: 230px;
  height: 113px;
  background: url("../pictures/prompt.png") no-repeat bottom center;
  background-size: cover;
  padding-bottom: 40px;
}

footer button:hover {
  font-weight: bold;
}

button:focus {
  outline: none;
}

button {
  font-family: "Arial";
}

footer p {
  height: 40px;
  padding: 20px 0 10px 0;
  display: block;
  text-transform: none;
  font-family: "Times New Roman";
  font-size: 18px;
  letter-spacing: 0.5pt;
  margin: 0;
  /*background-color: yellow;*/
}
